# Игнорировать все файлы
*
*/*

# Кроме этих конкретных файлов
!exp1_front.py
!words.txt
!.gitignore

# Игнорировать все папки
*/

# Особенно игнорировать эти папки и их содержимое
res/
__pycache__/
venv/